@model Practical_12_Test_3.Models.Employee

<h2>Employee Having Maximum Salary</h2>

<table class="table table-bordered">

    <tr>
        <th>Employee Id</th>
        <td>@Model.Id</td>
    </tr>

    <tr>
        <th>First Name</th>
        <td>@Model.FirstName</td>
    </tr>

    <tr>
        <th>Middle Name</th>
        <td>@Model.MiddleName</td>
    </tr>

    <tr>
        <th>Last Name</th>
        <td>@Model.LastName</td>
    </tr>

    <tr>
        <th>Designation</th>
        <td>@Model.Designation</td>
    </tr>

    <tr>
        <th>Salary</th>
        <td>@Model.Salary</td>
    </tr>

</table>